$main-color: #fff;

* {
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("https://images.unsplash.com/photo-1445112098124-3e76dd67983c?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    

    min-height: 100vh;
}

.card {
    position: relative;

    color: $main-color;
    background: rgba(255, 255, 255, .2);
    background-size: cover;
    background-position: center;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);

    width: 400px;
    max-width: 90%;

    border: 2px solid rgb(255, 255, 255, .3);
    border-radius: 25px;

    padding: 2.5rem;
}

.search__box {
    position: inherit;

    display: flex;
    align-items: center;

    height: 3rem;

    .fa-location-dot {
        z-index: 1;
        font-size: 1.3rem;
        margin-left: .8rem;
    }

    .search__div {
        position: absolute;

        display: inherit;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        border: 2px solid rgb(255, 255, 255, .5);
        border-radius: 10px;

        background: rgb(0, 0, 0, .2);

        .search__input {
            border: none;
    
            font-size: 18px;
            letter-spacing: .9px;
    
            width: 100%;
            height: 100%;
    
            caret-color: $main-color;
            color: $main-color;
            background: none;

            padding-left: 3rem;
        }
    }
    
    .search__input::placeholder {
        color: rgb(255, 255, 255, .5);
    }

    .search__input:focus {
        outline: none;
    }


    .fa-magnifying-glass {
        position: absolute;
        right: .8rem;

        font-size: 1.2rem;
        color: $main-color;
    }

    .fa-magnifying-glass.hide {
        display: none;
    }

    .clear__button {
        position: absolute;
        right: .4rem;

        width: 2rem;
        height: 2rem;

        border: none;
        border-radius: 50%;
        background: none;

        cursor: pointer;

        .fa-x {
            color: rgb(255, 255, 255, .7);
        }
    }

    .clear__button:hover {
        background: rgb(255, 255, 255, .2);
    }

    .clear__button.hide {
        display: none;
    }
}