$main-color: #fff;

* {
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("https://images.unsplash.com/photo-1445112098124-3e76dd67983c?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    

    min-height: 100vh;
}

.card {
    position: relative;

    color: $main-color;
    background: rgba(255, 255, 255, .2);
    background-size: cover;
    background-position: center;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);

    width: 400px;
    max-width: 90%;

    border: 2px solid rgb(255, 255, 255, .3);
    border-radius: 25px;

    padding: 2.5rem;
}